# Python-related files
__pycache__/
env/
test.db

# IDE-specific files
.idea/
.ipynb_checkpoints/
.mypy_cache/
.vscode/

# Test coverage reports
htmlcov/
.coverage
coverage.xml

# Build artifacts
dist/
site/
docs_build/
site_build/
venv/
docs.zip
archive.zip

# Vim temporary files
*~
.*.sw?
envr.py

# macOS-specific files
.DS_Store
